body {
	font-family: sans-serif;
	height: 100vh;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #dfdfd9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	gap: 100px;
}
